PYTHONPATH=.
APP_ENV=staging
DEBUG=False
TESTING=False

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=template_staging
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/template_staging
SYNC_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/template_staging

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=False

BACKEND_CORS_ORIGINS=http://localhost:3000
SERVER_HOST=http://localhost:8000
FRONTEND_URL=http://localhost:3000
